{
    "singleQuote": true,
    "tabWidth": 4,
    "semi": false,
    "printWidth": 120,
    "trailingComma": "es5",
    "overrides": [
        {
            "files": "*.hbs",
            "options": {
                "parser": "handlebars"
            }
        }
    ]
}
