<div id='main'>
    <section class='contact-background-rectangle'>
        <div class='contact-container'>
            <div class='lora contact-title'>Contact</div>
            <!-- <div class='contact-sub-title'>Lets connect!</div> -->
            <div class='contact-container'>
                <div class='num-mail'>
                    <div class='num'>
                        <img class='linkedin-icon' src='/img/phone.png' alt='phone icon' />
                        <div class='contact-number contact-text'>073-761 81 86</div>
                    </div>
                    <div class='mail'>
                        <img class='mail-icon' src='/img/mail.png' alt='mail icon' />
                        <div class='contact-mail contact-text'>Artan.bajqinca@gmail.com</div>
                    </div>
                </div>
                <div class='linkedin-git'>

                    <a
                        href='https://www.linkedin.com/in/artan-bajqinca-502a67140/'
                        class='linkedin'
                        target='_blank'
                        rel='noopener noreferrer'
                    >
                        <img class='linkedin-icon' src='/img/linkedin-icon.png' alt='linkedin icon' />
                        <span class='linkedin-username contact-text'>Artan Bajqinca</span>
                    </a>

                    <a href='https://github.com/ArtanBajqinca' class='git' target='_blank' rel='noopener noreferrer'>
                        <img class='github-icon' src='/img/github-icon.png' alt='github logo' />
                        <span class='git-username contact-text'>Artan Bajqinca</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>