<div id='main'>
    <section class='AboutHero'>
        <div class='AboutMeText'>
            <div class='NameStyling-name'>
                Hello!
                <br />
                I’m Artan
                <div class='rectangle'></div>
            </div>
            <div class='NameStyling-title'>
                Programmer &amp;
                <br />
                Graphic Designer
            </div>
            <div class='NameStyling-desc'>
                Merging code with creativity,
                <br />
                I'm a Programmer by day and
                <br />
                Graphic Designer by night
            </div>
            <div class='NameStyling-btn'>
                Message()
            </div>
        </div>
        <img
            id='homeGraphic'
            src='img/PictureGraphic.png'
            alt='Profile picture'
        />
    </section>
    <section class='Featured-proj'>
        <div class='Featured-proj-title'>Featured projects</div>

        <div class='proj-container'>
            <div class='proj-row'>
                <div class='proj-box'>
                    <img
                        class='proj-g'
                        src='/img/proj-g/CV-website.png'
                        alt='project pic'
                    />
                </div>
                <div class='proj-box'>
                    <img
                        class='proj-g'
                        src='/img/proj-g/Tafsir_JIC.png'
                        alt='project pic'
                    />
                </div>
                <div class='proj-box'>
                    <img
                        class='proj-g'
                        src='/img/proj-g/Umrah191227.png'
                        alt='project pic'
                    />
                </div>
                <div class='proj-box'>
                    <img
                        class='proj-g'
                        src='/img/proj-g/Sahih_AlBukhari.png'
                        alt='project pic'
                    />
                </div>
            </div>
        </div>
    </section>
</div>