<div id='main'>

    <link rel='stylesheet' href='https://unicons.iconscout.com/release/v4.0.0/css/line.css' />

    <section class='hero-section'>
        <div class='hero-group'>
            <div class='home__social'>
                <a href='https://www.linkedin.com/in/artanbajqinca/' target='_blank' class='home__social-icon'>
                    <i class='uil uil-linkedin-alt'></i>
                </a>
                <a href='https://github.com/ArtanBajqinca' target='_blank' class='home__social-icon'>
                    <i class='uil uil-github-alt'></i>
                </a>
            </div>
            <div class='hero-text'>
                <div class='hero-text-name'>Hello!<br />I’m Artan<div class='rectangle'></div></div>
                <div class='hero-text-title'>Programmer &amp;<br />Graphic Designer</div>
                <div class='hero-text-desc'>Merging code with creativity,<br />I'm a Programmer by day and<br />Graphic
                    Designer by night</div>
                <a class='hero-text-btn' href='/contact'>Message()</a>
            </div>
            <img id='homeGraphic' src='img/picture_graphic.png' alt='Profile picture' />
        </div>

    </section>

    <section class='Featured-proj'>
        <div class='Featured-proj-title'>RECENT PROJECT</div>
        {{! //comment }}
        <div class='proj-container'>
            <div class='proj-row'>
                <a href="/projects/2" class='proj-box'>
                    <img class='proj-g' src='/img/proj-g/coinnect.png' alt='project pic' />
                </a>
            </div>
            <!-- <div class='proj-row'>
                <div class='proj-box'>
                    <img class='proj-g' src='/img/proj-g/arabiska_kurs.png' alt='project pic' />
                </div>
                <div class='proj-box'>
                    <img class='proj-g' src='/img/proj-g/note_app.png' alt='project pic' />
                </div>
            </div> -->
        </div>
    </section>

</div>