<div class='about-me-center-container'>
    <div class='about-me-bg'>
        <div class='about-me-title lora'>Project view</div>
        <div class='project-view-container'>
            <div class='project-view-section'>
                <img class='project-view-img' src='{{project.pimgURL}}' alt='{{project.pname}}' />
                <div class='project-view-nameDesc'>
                    <h2>PROJECT NAME</h2>
                    <h1>{{project.pname}}</h1>
                    <h3>DESCRIPTION</h3>
                    <p>{{{project.pdesc}}}</p>
                </div>
            </div>
        </div>
    </div>
</div>