.hero-section {
    display: flex;
    width: 100%;
    /* background-color: rgba(255, 0, 0, 0.1); */
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.hero-group {
    display: flex;
    align-items: center;
    margin-left: 170px;
}

.hero-text {
    color: white;
    align-items: center;
    margin-right: 100px;
}

.hero-text-name,
.hero-text-title,
.hero-text-desc,
.hero-text-btn {
    font-family: 'AvenirLTStd-Book', sans-serif;
    letter-spacing: 0.03375rem;
}

.hero-text-name {
    font-family: 'moskau-grotesk-extrabold';
    font-size: 2.75rem;
    line-height: 2.96875rem;
    letter-spacing: 0.10313rem;
}

.hero-text-title {
    font-family: 'AvenirLTStd-Medium';
    font-size: 1.3rem;
    font-weight: 550;
    line-height: 1.5rem;
    letter-spacing: 0.04875rem;
}

.hero-text-desc {
    font-size: 0.9rem;
    font-weight: 350;
    line-height: 1.15625rem;
    margin-top: 30px;
}

.hero-text-btn {
    font-family: 'OCRAEXT';
    font-size: 0.9rem;
    letter-spacing: 0.0375rem;
    background: #373737;
    width: 7rem;
    height: 1.7rem;
    text-decoration: none;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white !important;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
}

.hero-text-btn:hover {
    background: white !important;
    color: black !important;
    text-decoration: none;
}

#homeGraphic {
    max-width: 550px;
    margin-left: -30px;
}

.rectangle {
    position: relative;
    bottom: 30px;
    left: 84px;
    background: #373737;
    width: 8.75rem;
    height: 1.175rem;
    z-index: -1;
}

/* Featured-project section */

.Featured-proj {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* background-color: rgba(255, 0, 0, 0.1); */
    margin: 200px 0 150px 0;
}

.Featured-proj-title {
    text-align: center;
    color: #fff;
    font-family: 'Lora', sans-serif;
    font-size: 2.37rem;
    font-weight: bold;
    letter-spacing: 0.086rem;
    margin-bottom: 50px;
}

.proj-container {
    flex-wrap: wrap;
    justify-content: center;
}

.proj-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.proj-box {
    display: flex;
    justify-content: center;
    margin: 25px;
}

.proj-box img {
    width: 240px;
    max-width: 100%;
}