/* Navbar styling */

.navbar {
    margin-top: 40px;
    color: #fff;
    font-family: 'OCRAEXT';
    /* background-color: rgba(255, 0, 0, 0.1); */
}

.navbar-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    margin-bottom: 7px;
    max-width: 200px;
}

.navbar-section a,
.navbar-section a:link,
.navbar-section a:visited,
.navbar-section a:hover {
    position: relative;
    color: #fff !important;
    text-decoration: none;
}

.nav-links {
    display: flex;
    margin-left: 50px;
}

.btn-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px !important;
    padding: 0;
    border: 0;
    width: 100% !important;
}

.user-greetings {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: gray;
}

.greeting {
    order: 2;
    margin-left: 20px;
}

.logout {
    margin-left: 10px;
}

.hidden {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* Animated underline effect for navbar */

#top-menu .current-menu-item::before {
    content: '';
    position: absolute;
    z-index: 2;
    left: 25%;
    right: 25%;
    bottom: 0;
    background: #565656;
    height: 3px;
}

#top-menu .btn.btn-link::before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 25%;
    right: 75%;
    bottom: 0;
    background: #565656;
    height: 3px;
    transition: right 0.3s ease-out;
}

#top-menu .btn.btn-link:hover::before {
    right: 25%;
}
