@media (max-width: 1100px) {
    /* Landing */

    .hero-section {
        flex-direction: column;
        margin-top: 20px;
    }

    .hero-group {
        flex-direction: column-reverse;
        margin-left: 0;
        align-items: center;
        text-align: center;
    }

    .hero-text {
        margin-right: 0;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .hero-text-name {
        font-size: 2rem;
    }

    .hero-text-title {
        font-size: 1rem;
    }

    .hero-text-desc {
        font-size: 0.8rem;
        margin-top: 20px;
    }

    .hero-text-btn {
        margin-top: 20px;
        align-self: center;
    }

    .rectangle {
        width: 6.3rem;
        height: 0.8rem;
        margin-left: -19px;
        margin-top: 2px;
    }
    #homeGraphic {
        max-width: 300px;
        margin: 0 20px 60px 0;
    }

    .Featured-proj {
        margin: 100px 0 75px 0;
    }

    .proj-box {
        width: 100%;
        margin: 25px 0;
    }

    .Featured-proj-title {
        font-size: 1.6rem;
    }

    /* Navbar */

    .navbar {
        flex-direction: column;
    }

    .navbar-section {
        flex-direction: column;
        width: 100%;
    }

    .logo {
    }

    .logo img {
        width: 220px;
        max-width: 300px !important;
    }

    .nav-links {
        flex-wrap: wrap;
        margin: 25px 0 10px 0px;
        width: 70%;
        padding: 0 !important;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .btn-link {
        display: flex !important;
        width: 100px !important;
        margin: 0 !important;
        border: 0 !important;
        background-color: #373737 !important;
        border-radius: 5px;
        font-size: 13px;
    }

    .user-greetings {
        display: block !important;
        text-align: center;
        width: 100px !important;
    }

    .greeting {
        margin: 0 !important;
        font-size: 0.6rem;
    }

    .logout {
        order: 1 !important;
    }

    .hamburger {
        display: block;
    }

    /* about me */

    .bg {
        margin-top: 80px !important;
    }

    .about-me-graphic img {
        position: fixed !important;
        height: 800px !important;
        transform: translate(-50%, -50%);
        top: 400px !important;
    }

    .about-me-center-container {
        margin-top: 70px !important;
    }

    .container-shared {
        scale: 80%;
    }

    .about-me-squares-container {
        gap: 10px !important;
    }

    .about-me-short-desc {
        width: 80% !important;
    }

    /* login */

    .login-container {
        margin-top: -100px !important;
    }

    .lora {
        font-size: 2.2rem !important;
        padding: 14px !important;
    }

    .login-icon {
        margin: 20px 0 10px 0 !important;
    }

    /* projects */

    .project-me-graphic img {
        position: fixed !important;
        height: 800px !important;
        top: 400px !important;
    }

    .programming-title,
    .graphic-design-title {
        font-weight: 600 !important;
        color: white !important;
        font-size: 1.5125rem !important;
    }

    /* Contact */

    .contact-background-rectangle {
        margin-top: 70px !important;
    }

    .contact-container {
        margin: 0 !important;
    }

    .linkedin-git {
        flex-direction: column !important;
        scale: 80%;
    }

    .num-mail {
        flex-direction: column !important;
        scale: 80%;
    }

    .contact-background-rectangle {
        height: 400px !important;
    }
    .linkedin-git  {
        margin-top: 0px;
    }
    .contact-sub-title {
        margin: 20px 0 40px 0 !important;
    }
}
