.programming-container {
    display: flex;
    justify-content: center;
}

.project-programming-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px;
}

.project-programming-section {
    display: block;
    justify-content: center;
    margin: 0 15px;
}

.project-programming-name {
    display: flex;
    justify-content: center;
    color: #9c9c9c;
    font-family: 'Avenir next', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.3;
    /* border: 3px solid white;
    border-radius: 5px; */
    height: 8%;
    margin-bottom: 0px;
    text-align: center;
}

.project-programming-image {
    margin-bottom: 14px;
}
.repo-button {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.repository-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #484848;
    margin-bottom: 50px;
    border-radius: 4px;
    height: 30px;
}

.github-icon-repo {
    width: 18px;
    margin-right: 10px;
}

.repository-container,
.repository-container:hover,
.repository-container:visited,
.repository-container:active {
    text-decoration: none;
}

.repository-container:focus {
    outline: none;
}

.repo-title {
    color: white;
    font-family: 'AvenirLTStd-Medium';
    margin-top: 2px;
    text-decoration: none;
    letter-spacing: 1;
}

.programming-title {
    display: flex;
    justify-content: center;
    font-family: 'arcade classic', sans-serif;
    color: white;
    text-align: center;
    margin: 50px 0 10px 0;
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
}

.project-programming-image img {
    max-width: 505px;
    transition: transform 0.3s ease;
}

.project-programming-image img:hover {
    transform: scale(1.05);
}

.project-graphic-design-title  {
    text-align: center;
    margin: 0 0 50px 0;
}

.graphic-design-container {
    display: grid;
    width: 100%;
    justify-content: center;
}

.graphic-design-section {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin-bottom: 100px;
}

.project-actions {
    display: block;
    justify-content: center;
}

.project-me-graphic img {
    position: absolute;
    height: 1600px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 900px;
    z-index: -1;
}

.graphic-design-title {
    display: flex;
    justify-content: center;
    font-family: 'arcade classic', sans-serif;
    color: white;
    text-align: center;
    margin: 0 0 80px 0;
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
}

.project-graphic-design-image img {
    position: relative;
    max-width: 400px;
    transition: transform 0.3s ease;
}

.project-graphic-design-image img:hover {
    transform: scale(1.05);
}

.project-programming-design-image img {
    position: relative;
    max-width: 400px;
    transition: transform 0.3s ease;
}

.project-programming-image:hover img {
    filter: brightness(40%);
}

.project-programming-image img:hover {
    transform: scale(1.05);
}

.project-programming-image:hover .overlay-text {
    visibility: visible;
    opacity: 1;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Avenir next', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s ease;
}

.project-programming-image,
.project-graphic-design-image {
    position: relative;
    /* Rest of your styles... */
}
