.project-view-section img {
    max-width: 50%;
    
    margin: 50px;
    margin-top: 120px;
}

.project-view-section {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-bottom: 100px;
    width: 100%;
}

.project-view-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}

.project-view-nameDesc {
    display: block;
    padding-top: 120px;
    width: 500px;
    margin-bottom: 100px;
    margin-right: 50px;
    
}

.project-view-nameDesc h1 {
    color: #fff;
    font-family: 'OCRAEXT', sans-serif;
    font-size: 1.175rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 109.091% */
    letter-spacing: 0.04125rem;
    margin-bottom: 80px;
}

.project-view-nameDesc h2,
h3 {
    color: #fff;
    font-family: 'Avenir bold', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0.165rem;
}

.project-view-nameDesc p {
    color: #fff;
    font-family: 'AvenirLTStd-Book', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8125rem;
}
