* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: content-box;
}

#main {
  width: 90%;
  margin: 0 auto;
  margin-left: 32px;
  margin-bottom: 96px;
  margin-top: 32px;
  box-sizing: content-box;
  /*border: 3px solid gray;*/
}

#profile {
  width: 20px;
}
