@import url('landing-page.css');
@import url('project-page.css');
@import url('contact-page.css');
@import url('login-page.css');
@import url('mobile-responsive.css');

body {
    background-color: #171717;
}

#main {
    color: white;
    position: relative;
}

/* Navbar styling */

.navbar {
    margin-top: 40px;
    color: #fff;
    font-family: 'OCRAEXT';
    /* background-color: rgba(255, 0, 0, 0.1); */
}

.navbar-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    max-width: 200px;
}

.navbar-section a,
.navbar-section a:link,
.navbar-section a:visited,
.navbar-section a:hover {
    position: relative;
    color: #fff !important;
    text-decoration: none;
}

.nav-links {
    display: flex;
    padding-top: 5px;
}

.btn-link {
    margin-left: 20px;
    align-items: center;
    justify-content: center;
}
.user-greetings {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: gray;
}

.greeting {
    order: 2;
    margin-left: 20px;
}

.logout {
    margin-left: 10px;
}

.hidden {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* Animated underline effect for navbar */

#top-menu .current-menu-item::before {
    content: '';
    position: absolute;
    z-index: 2;
    left: 25%;
    right: 25%;
    bottom: 0;
    background: #565656;
    height: 3px;
}

#top-menu .btn.btn-link::before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 25%;
    right: 75%;
    bottom: 0;
    background: #565656;
    height: 3px;
    transition: right 0.3s ease-out;
}

#top-menu .btn.btn-link:hover::before {
    right: 25%;
}

/* About me page */

.about-me-graphic img {
    position: absolute;
    height: 1500px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 1000px;
    z-index: -1;
}

.about-me-center-container {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 150px;
}

.about-me-bg {
    display: block;
    background-color: #373737;
    width: 1200px;
    margin-top: 15 0px;
}

.about-me-title {
    text-align: center;
    margin-top: -39px;
    padding: 0 !important;
}

.about-me-desc-container {
    display: flex;
    justify-content: center;
}

.about-me-short-desc {
    justify-content: center;
}

.about-me-short-desc {
    display: flex;
    width: 800px;
    font-family: 'Avenir Next', sans-serif;
    font-size: 0.8rem;
    line-height: 1.35rem;
    letter-spacing: 0.03rem;
    margin-top: 45px;
}

.about-me-container {
    width: 100%;
}

.about-me-titles {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 25%;
    margin-top: 65px;
}

.Edu-title-left {
    color: white;
    font-family: 'Avenir Next', sans-serif;
    font-size: 1.625rem;
    font-weight: bold;
    letter-spacing: 0.27625rem;
}

.Edu-title-right {
    color: white;
    font-family: 'Avenir Next', sans-serif;
    font-size: 1.625rem;
    font-weight: bold;
    letter-spacing: 0.27625rem;
}

.Edu-title-left,
.Edu-title-right {
    display: inline;
}

/* about me squares */

.about-me-squares {
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-me-squares-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    align-items: center;
    margin-top: 50px;
}

.container-shared {
    height: 230px;
    width: 230px;
    border: 4px solid white;
    border-radius: 25px;
}

.title-shared {
    text-align: center;
    color: white;
    font-family: 'Avenir Next', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.0375rem;
    margin-top: 30px;
}

.desc-shared {
    margin-top: 20px;
    color: #d9d9d9;
    font-family: 'Avenir Next', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.square-middle-desc {
    margin: 0;
}
.square-right-desc {
    text-align: center;
}

.square-left-desc ul,
.square-middle-desc ul li {
    margin: 0;
}

/* New project styling */

.new-edit-project {
    color: white;
    padding: 20px;
    background-color: #444;
    position: absolute;
    top: 550px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-edit-project h1 {
    text-align: center;
    margin-bottom: 20px;
}

.new-edit-project form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.new-edit-project label,
.new-edit-project input,
.new-edit-project textarea,
.new-edit-project select {
    margin-bottom: 10px;
    width: 100%;
}

.new-edit-project input[type='submit'] {
    margin-top: 10px;
}
