@import url('landing-page.css');
@import url('mobile-responsive.css');

body {
    background-color: #171717;
}

#main {
    color: white;
    position: relative;
}

/* Navbar styling */

.navbar {
    margin-top: 40px;
    color: #fff;
    font-family: 'OCRAEXT';
    /* background-color: rgba(255, 0, 0, 0.1); */
}

.navbar-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    max-width: 200px;
}

.navbar-section a,
.navbar-section a:link,
.navbar-section a:visited,
.navbar-section a:hover {
    position: relative;
    color: #fff !important;
    text-decoration: none;
}

.nav-links {
    display: flex;
    padding-top: 5px;
}

.btn-link {
    margin-left: 20px;
    align-items: center;
    justify-content: center;
}
.user-greetings {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: gray;
}

.greeting {
    order: 2;
    margin-left: 20px;
}

.logout {
    order: 1;
}

/* Animated underline effect for navbar */

#top-menu .current-menu-item::before {
    content: '';
    position: absolute;
    z-index: 2;
    left: 25%;
    right: 25%;
    bottom: 0;
    background: #565656;
    height: 3px;
}

#top-menu .btn.btn-link::before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 25%;
    right: 75%;
    bottom: 0;
    background: #565656;
    height: 3px;
    transition: right 0.3s ease-out;
}

#top-menu .btn.btn-link:hover::before {
    right: 25%;
}

/* Login form styling */

input[type='text'],
input[type='password'] {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: #e0e0e0;
    outline: none;
}

input[type='submit'] {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: gray;
    color: #fff;
}

.centered-container::before {
    content: '';
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 370px;
    background-color: #373737;
    z-index: -1;
}

.centered-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 80px 0;
}

.lora {
    color: #fff;
    font-family: 'Lora';
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.10313rem;
}

.login-icon {
    margin: 10px 0 20px 0;
}

#login-button-text,
.login-button {
    font-family: 'OCRAEXT', sans-serif;
    background-color: white;
    color: #373737;
    width: 4.8125rem;
    height: 1.6875rem;
    line-height: 1;
    padding: 10px 15px;
    margin-top: 10px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* New project styling */

.new-edit-project {
    color: white;
    padding: 20px;
    background-color: #444;
    position: absolute;
    top: 550px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-edit-project h1 {
    text-align: center;
    margin-bottom: 20px;
}

.new-edit-project form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.new-edit-project label,
.new-edit-project input,
.new-edit-project textarea,
.new-edit-project select {
    margin-bottom: 10px;
    width: 100%;
}

.new-edit-project input[type='submit'] {
    margin-top: 10px;
}

/* About me page */

.about-me-graphic img {
    position: absolute;
    height: 1500px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 1000px;
    z-index: -1;
}

.about-me-center-container {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 150px;
}

.about-me-bg {
    display: block;
    background-color: #373737;
    width: 80%;
    height: 2000px;
    margin-top: 15 0px;
}

.about-me-title {
    text-align: center;
    margin-top: -53px;
}

.about-me-desc-container {
    display: flex;
    justify-content: center;
}

.about-me-short-desc {
    justify-content: center;
}

.about-me-short-desc {
    display: flex;
    width: 40%;
    font-family: 'Avenir Next', sans-serif;
    font-size: 0.8rem;
    line-height: 1.35rem;
    letter-spacing: 0.03rem;
    margin-top: 45px;
}

.about-me-container {
    width: 100%;
}

.about-me-titles {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 25%;
    margin-top: 65px;
}

.Edu-title-left {
    color: white;
    font-family: 'Avenir Next', sans-serif;
    font-size: 1.625rem;
    font-weight: bold;
    letter-spacing: 0.27625rem;
}

.Edu-title-right {
    color: white;
    font-family: 'Avenir Next', sans-serif;
    font-size: 1.625rem;
    font-weight: bold;
    letter-spacing: 0.27625rem;
}

.Edu-title-left,
.Edu-title-right {
    display: inline;
}

/* about me squares */

.about-me-squares {
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-me-squares-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    align-items: center;
    margin-top: 50px;
}

.container-shared {
    height: 230px;
    width: 230px;
    border: 4px solid white;
    border-radius: 25px;
}

/* Common styles for titles */
.title-shared {
    text-align: center;
    color: white;
    font-family: 'Avenir Next', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.0375rem;
    margin-top: 30px;
}

/* Common styles for descriptions */
.desc-shared {
    margin-top: 20px;
    color: #d9d9d9;
    font-family: 'Avenir Next', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.square-middle-desc {
    margin: 0;
}
.square-right-desc {
    text-align: center;
}

.square-left-desc ul,
.square-middle-desc ul li {
    margin: 0;
}

/* Projects page styling */

.project-me-center-container {
    color: white;
    width: 55.875rem;
    height: 99rem;
    background-color: #373737;
    position: absolute;
    display: flex;
    top: 1200px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project-me-title {
    position: absolute;
    font-weight: bold;
    top: 203px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.project-me-graphic img {
    position: absolute;
    height: 1600px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 900px;
    z-index: -1;
}

.prog-title {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 380px;
    color: rgba(255, 255, 255, 0);
    font-family: 'Avenir Next', sans-serif;
    font-weight: 700;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;
    color: rgba(255, 255, 255, 0);
    font-family: Avenir Next;
    font-size: 1.8125rem;
    letter-spacing: 0.30813rem;
    white-space: nowrap;
}

.gd-title {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 1080px;
    color: rgba(255, 255, 255, 0);
    font-family: 'Avenir Next', sans-serif;
    font-weight: 700;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;
    color: rgba(255, 255, 255, 0);
    font-family: Avenir Next;
    font-size: 1.8125rem;
    letter-spacing: 0.30813rem;
    white-space: nowrap;
}

.project-me-center-container {
    color: white;
    width: 55.875rem;
    height: auto;
    background-color: #373737;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    left: 50%;
    column-gap: 50px;
}

.project-container {
    height: auto;
    width: auto;
}

.p-container {
}

.g-section {
}

.p-image img,
.g-image img {
    max-width: 400px;
}

.project-me-title {
    position: absolute;
    font-weight: bold;
    top: 203px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.project-me-graphic img {
    position: absolute;
    height: 1600px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 900px;
    z-index: -1;
}

.prog-title,
.gd-title {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0);
    font-family: 'Avenir Next', sans-serif;
    font-weight: 700;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;
    color: rgba(255, 255, 255, 0);
    font-size: 1.8125rem;
    letter-spacing: 0.30813rem;
    white-space: nowrap;
}

.prog-title {
    top: 380px;
}

.gd-title {
    top: 1080px;
}

/* contact page styling */

.contact-centered-container::before {
    content: '';
    position: absolute;
    top: 230px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 370px;
    background-color: #373737;
    z-index: -1;
}

.contact-centered-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 80px 0 0 0;
}

.contact-container {
}

.num-mail {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.num,
.mail {
    display: flex;
    align-items: center;
    gap: 10px;
}

.linkedin-git {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.linkedin,
.git {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-title {
    color: #fff;
    font-family: 'Avenir Next', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    margin-top: 30px;
    margin-bottom: 50px;
}

.contact-text {
    color: #fff;
    font-family: 'Avenir Next', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0.03375rem;
}

.linkedin-username,
.git-username {
    color: white !important;
    text-decoration: underline;
}
