.programming-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.project-programming-container {
    display: flex;
    justify-content: center;
    margin: 50px;
    width: 100%;
}

.project-programming-section {
    display: block;
    justify-content: center;
    margin: 0 50px;
}

.project-programming-name {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Avenir Next', sans-serif;
    font-size: 0.9375rem;
    font-weight: 600;
    letter-spacing: 0.02813rem;
    border-style: solid;
    border-radius: 5px;
    height: 50px;
    margin-bottom: 25px;
    width: 450px;
    text-align: center;
}

.project-programming-image {
    margin-bottom: 50px;
}

.programming-title {
    display: flex;
    justify-content: center;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 700;
    color: transparent;
    text-align: center;
    margin: 50px 0 10px 0;
    font-size: 1.8125rem;
    letter-spacing: 0.30813rem;
    -webkit-text-stroke: 2px white;
}

.project-programming-image img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.project-programming-image img:hover {
    transform: scale(1.05);
}

.project-graphic-design-title  {
    text-align: center;
    margin: 0 0 50px 0;
}

.graphic-design-container {
    display: grid;
    width: 100%;
    justify-content: center;
}

.graphic-design-section {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin-bottom: 100px;
}

.project-actions {
    display: block;
    justify-content: center;
}

.project-me-graphic img {
    position: absolute;
    height: 1600px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 900px;
    z-index: -1;
}

.graphic-design-title {
    display: flex;
    justify-content: center;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 700;
    color: transparent;
    text-align: center;
    margin: 0 0 80px 0;
    font-size: 1.8125rem;
    letter-spacing: 0.30813rem;
    -webkit-text-stroke: 2px white;
}

.project-graphic-design-image img {
    max-width: 400px;
    transition: transform 0.3s ease;
}

.project-graphic-design-image img:hover {
    transform: scale(1.05);
}
