@font-face {
    font-family: 'OCRAEXT';
    src: url('/fonts/OCRAEXT.ttf') format('truetype');
}

@font-face {
    font-family: 'Lora';
    src: url('/fonts/Lora-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OCRAEXT';
    src: url('/fonts/OCRAEXT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OCRAEXT';
    src: url('/fonts/OCRAEXT-Regular.ttf') format('truetype');
    font-weight: 400; /* regular */
    font-style: normal;
}

@font-face {
    font-family: 'OCRAEXT';
    src: url('/fonts/OCRAEXT-Bold.ttf') format('truetype');
    font-weight: 700; /* bold */
    font-style: normal;
}

@font-face {
    font-family: 'OCRAEXT';
    src: url('/fonts/OCRAEXT-Italic.ttf') format('truetype');
    font-weight: 400; /* regular */
    font-style: italic;
}
@font-face {
    font-family: 'moskau-grotesk-extrabold';
    src: url('/fonts/moskau-grotesk-extrabold.otf') format('truetype');
}

@font-face {
    font-family: 'AvenirLTStd-Book';
    src: url('/fonts/AvenirLTStd-Book.otf') format('truetype');
}

@font-face {
    font-family: 'AvenirLTStd-Medium';
    src: url('/fonts/AvenirLTStd-Medium.otf') format('truetype');
}
